body {
    background-color: #2CA5DD;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #E7DFC6;
    font-size: 50px;
}

#character_section_links {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.char_icon {
    height: 100px;
    width: 95px;
    border-radius: 25px;
}

.name_link {
    text-align: center;
}

h3 {
    font-family: "Inter", sans-serif;
    color: #E7DFC6;
}

#nameplate {
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #E7DFC6;
}

.quests_section h2 {
    font-family: "Inter", sans-serif;
    color: #E7DFC6;
    text-align: center;
}

.questlist {
    color: #E7DFC6;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.friendship_reward_section {
    font-family: "Inter", sans-serif;
    line-height: 30px;
    color: #E7DFC6;
}

.questlist ol {
    padding-bottom: 25px;
}

.questlist ol li {
    color: #3A3335;
    margin: 10px;
}

.questname {
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.info_section {
    display:flex;
    justify-content: space-around;
    padding: 50px;
}

#nameplate img {
    border-radius:50%;
    height: 200px;
}

hr {
    border: 1px solid #000080;
    margin-top: 20px;
    width: 50%;
}

#goofy_quest_one {
    display:none;
}

#goofy_quest_two {
    display:none;
}

#goofy_quest_three {
    display:none;
}

#goofy_quest_four {
    display: none;
}

#goofy_quest_five {
    display:none;
}
.button {
    background-color: green;
    border-radius : 25px;
    font-family: "Inter", sans-serif;
    color: aliceblue;
}

.button_space {
    text-align: center;
}
