body {
    background-color: #52307c;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #bfedef;
    font-size: 50px;
}

#character_section_links {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.char_icon {
    height: 100px;
    width: 95px;
    border-radius: 25px;
}

.name_link {
    text-align: center;
}

h3 {
    font-family: "Inter", sans-serif;
    color: #bfedef;
}

#nameplate {
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #bfedef;
}

.quests_section h2 {
    font-family: "Inter", sans-serif;
    color: #bfedef;
    text-align:center;
}

.questlist {
    color: #bfedef;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.friendship_reward_section {
    font-family: "Inter", sans-serif;
    line-height: 30px;
    color: #bfedef;
   
}

.questlist ol {
    padding-bottom: 25px;
}

.questlist ol li {
    color: #bca0dc;
    margin: 10px;
}

.questname {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.info_section {
    display:flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    background-color:#663a82;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    padding-top:50px;
    padding-bottom:50px;
}

#nameplate img {
    border-radius:50%;
    height: 200px;
}

hr {
    border: 1px solid #3c1361;
    margin-top: 20px;
    width: 50%;
}

#goofy_quest_one {
    display:none;
}

#goofy_quest_two {
    display:none;
}

#goofy_quest_three {
    display:none;
}

#goofy_quest_four {
    display: none;
}

#goofy_quest_five {
    display:none;
}

#goofy_quest_six {
    display:none;
}

#goofy_quest_seven {
    display:none;
}
.button {
    background-color: #663a82;
    font-family: "Inter", sans-serif;
    color: #bfedef;
    border-radius: 25px;

}

.button_space {
    text-align: center;
}
.reward_icon {
    height: 50px;

}
#reward_table td {
    align-items:center;
    border: 2px solid #3c1361;
}

#reward_table figure {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.level {
    width: 75px;
    text-align: center;
}
.reward_title {
    text-align: center;
}